{
  "env": {
    "cjs": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "es": {
      "presets": [["@babel/preset-env", { "module": false }],"@babel/preset-typescript"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}
